

body{
    font-family: 'Aboreto', cursive;
    background-color: azure;
}

.logoprincipal{
    display: flex;
}

.logo_1{
    width: 400px;
    height: 350px;
}

.logo_2{
    width: 400px;
    height: 350px;
}

.logo_3{
    width: 400px;
    height: 350px;
}

h1{
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

ul li{
    list-style-type: armenian;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    font-weight: 300;
    margin: 55px;
}

header{
    border: 5px solid black;
}

main{
    text-align: center;
}

main p{
    margin: 10px;
}


header{
    background-color: azure;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav{
    background-color: azure;
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    background-color: azure;
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    background-color: azure;
    grid-area: footer;
}



.sectionA{
    background-color: azure;
    grid-area: sectionA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    direction: ltr;
}

.sectionA p {
    margin: 20px;
    
} 

.sectionB{
    background-color: azure;
    grid-area: sectionB;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sectionC{
    background-color: azure;
    grid-area: sectionC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionD{
    background-color: azure;
    grid-area: sectionD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 1024px){
    .gridpadre {
        display: grid;
        grid-template-areas: 
        "header header"
        "main main"
        "nav nav"
        "sectionA sectionB"
        "sectionC sectionD"
        "footer footer"
        ;
    }
}

@media (max-width: 700px){
    .gridpadre {
        display: grid;
        grid-template-areas: 
        "header header"
        "main main"
        "nav nav"
        "sectionB sectionA"
        "sectionD sectionC"
        "footer footer"
        ;
    }
}

@media (max-width: 300px){
    .gridpadre {
        display: grid;
        grid-template-areas: 
        "header"
        "sectionA"
        "sectionB"
        "sectionC"
        "sectionD"
        "nav"
        "main"
        "footer"
        ;
    }
}