* {
    font-family: 'Aboreto', cursive;
    background-image: url("../imagenes\ primer\ entrega/pastoOKOK.webp");
    background-repeat: repeat repeat-y;
    background-size: 400px 200px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 50px;
    background-color: aqua;
    color: white;
    text-align: center;
    grid-area: headers;
}

header a{
    color: white;
}

nav {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100px;
    grid-area: navs;
}

nav .navegacion{
    color: white;
}

main {
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    align-items: center;
    grid-area: main;
}

.logo_1 {
    height: 200px;
}

.logo_2 {
    height: 200px;
}

.logo_3 {
    height: 200px;
}

.sectionA {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    grid-area: sectionA;
}

.sectionA a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionA img {
    height: 200px;

}

.sectionB {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    grid-area: sectionB;
}

.sectionB a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionB img {
    height: 200px;

}

.sectionC {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    grid-area: sectionC;
}

.sectionC a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionC img {
    height: 200px;

}

.sectionD {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    grid-area: sectionD;
}

.sectionD img {
    height: 200px;
}

.sectionD .instagram_logo {
    height: 100px;
}

footer {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}

footer img {
    height: 150px;
}

@media (max-width:768px) {
    .gridpadre {
        display: grid;
        grid-template-areas:
            "headers"
            "navs"
            "main"
            "sectionA"
            "sectionB"
            "sectionC"
            "sectionD"
            "footer";
    }

    main {
        display: none;
    }

    nav {
        display: none;
    }
}

.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 1;
    border-radius: 90%;
    bottom: 20px;
    right: 25px;
    padding: 15px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 80px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

@media (min-width:768px) and (max-width:990px) {
    .gridpadre {
        display: grid;
        grid-template-areas:
            "headers headers"
            "navs navs"
            "main main"
            "sectionA sectionB"
            "sectionC sectionD"
            "footer footer";
    }

    main {
        display: none;
    }

    nav {
        display: none;
    }
}

@media (min-width:991px) {
    .gridpadre {
        display: grid;
        grid-template-areas:
            "headers headers"
            "navs navs"
            "main main"
            "sectionA sectionB"
            "sectionC sectionD"
            "footer footer";
    }
}